body{
font-family:Inter;
margin:0;
background:linear-gradient(to bottom,#eef2ff,#ffffff);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.screen{text-align:center}
.hidden{display:none}

input{
padding:12px;margin:8px;border-radius:8px;border:1px solid #ddd;
}

button{
background:#5B7CFF;color:white;border:none;padding:12px 25px;
border-radius:10px;cursor:pointer;margin-top:15px;
}

.moods span{
font-size:40px;margin:12px;cursor:pointer;transition:.3s;
}
.moods span:hover{transform:scale(1.3)}

.popup{
position:fixed;top:0;left:0;width:100%;height:100%;
background:rgba(0,0,0,0.4);
display:flex;justify-content:center;align-items:center;
}
.popupBox{
background:white;padding:30px;border-radius:20px;text-align:center;
}